@font-face {
    font-family: 'jurassic_parkregular';
    src: url('../font/jurassic_park-webfont.woff2') format('woff2'),
         url('../font/jurassic_park-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'African';
    src: url('../font/African.woff2') format('woff2'),
        url('../font/African.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.jumbotron {
    font-family: 'jurassic_parkregular';
    padding: 0;
    
}

#button {
    font-family: 'jurassic_parkregular'; 
    font-size: 7rem;
    background-image: url("../images/buttonBacker.jpg");
    min-width: 100%;
    min-height: 100%;
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
    border-color: black;
    color: white;
    text-shadow: 3px 3px  rgba(0, 0, 0, 0.6);
}

#button2 {
    font-family: 'jurassic_parkregular'; 
    font-size: 4rem;
    background-image: url("../images/buttonBacker.jpg");
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
    border-color: black;
    color: white;
    text-shadow: 3px 3px  rgba(0, 0, 0, 0.6);
}
#button3 {
    font-family: 'African'; 
    font-size: 3rem;
    background-image: url("../images/buttonBacker.jpg");
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
    border-color: black;
    color: white;
    text-shadow: 3px 3px  rgba(0, 0, 0, 0.6);
}

.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
  }

h1 {
    font-size: 10rem;
}

h2 {
    font-size: 3rem;
}

.banner {
    background-image: url("../images/banner.jpg");
    min-width: 100%;
    min-height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#title {
    opacity: 0;
}

.container {
    background-image: url("../images/background.jpg");
    max-width: 100%;
    min-height: 100%;
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height:100vh;
}

body {
    background-color: black;
}
#responsive-image { 
    width: 80vw; 
} 

#playBtn {
    font-size: 4rem;
    background-color: black;
    border: none;
}
.logo {
    background: none;
    border: none;
    position: absolute;
}